# apiVersion: apps/v1
# kind: Deployment
# metadata:
#   name: fastapi-app
# spec:
#   replicas: 2
#   selector:
#     matchLabels:
#       app: fastapi
#   template:
#     metadata:
#       labels:
#         app: fastapi
#     spec:
#       containers:
#       - name: fastapi
#         image: acr18490.azurecr.io/fastapi-app:latest
#         ports:
#         - containerPort: 8000
#         imagePullPolicy: Always

apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: acr18490.azurecr.io/fastapi-app:latest
        ports:
        - containerPort: 8000
        imagePullPolicy: Always
        env:
        - name: PINECONE_API_KEY
          valueFrom:
            secretKeyRef:
              name: pinecone-secrets
              key: pinecone-api-key
        - name: GOOGLE_API_KEY
          valueFrom:
            secretKeyRef:
              name: google-secrets
              key: google-api-key
